.manage-schedule-container{
    .manage-schedule-title{
        text-transform: uppercase;
        margin-top: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
    .pick-hour-container{
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        .btn-schedule{
            padding: 5px 15px;
            border: 1px solid black;
            &.active {
            background-color: #e07c0a;
        }
    }
        }
    }
    .btn-schedule {

    .btn-save-schedule{
        margin-top: 20px;
    }
}