@import "variables";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}
.booking-container {
    width: 100%;
max-width: 1400px;
    margin: 0 auto;

}