.booking-modal-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    caret-color: transparent;

    .booking-modal-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;


        .doctor-info-section {
            justify-content: center;
            background-color: #f6f6f6;
            padding: 20px;
            display: flex;
            gap: 20px;
            border-bottom: 1px solid #eee;
            position: sticky;
            top : 0;
            z-index: 100;

            .doctor-image {
                width: 140px;       
                height: 140px;
                border-radius: 50%; 
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border: 1px solid #e1e1e1;         
                margin-right: 20px;                
                flex-shrink: 0;                   
                }
            .doctor-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 180px;
                .title-booking {
                    font-size: 13px;
                    font-weight: 600;
                    color: #555555;
                    margin-bottom: 5px;
                }
                .doctor-name {
                    font-size: 18px;
                    font-weight: bold;
                    color: #577ab7;
                    margin-bottom: 5px;
                }
                .time-booking {
                    font-size: 18px;
                    font-weight: bold;
                    color: #fec206;
                    i{
                        font-size: 16px;
                        font-weight: lighter;
                        color: #a9a9ab;
                        margin-right: 7px;
                    }
                }
                .name-clinic{
                    font-size: 17px;
                    color: #555555;
                    font-weight: 600;
                    margin-top: 5px;
                    i{
                        font-size: 14px;
                        color: #a9a9ab;
                        margin-right: 7px;
                    }
                }
                .address-clinic{
                    font-size: 16px;
                    color: #333;
                    margin: 5px 0px 0px 25px;
                }
            }
        }
        
        .price-section {
            width: 40%;
            margin: 0 auto;
            padding: 10px 0px;
            font-size: 16px;
            color: #333;
            .price-box{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid orange;
                border-radius: 2px;
                width: 170px;
                height: 65px;
                box-shadow: 1px 1px   #ccc;
                cursor: pointer;
                transition: all 0.2s;
                background-color: white;
            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    .booking-modal-body {
        width: 40%;  
        margin: 0 auto;
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    .col-12 {
        width: 100%;
        padding: 0 10px;
    }
    .col-6 {
        width: 50%;
        padding: 0 10px;
    }
    .form-group {
        caret-color: auto;
        margin-bottom: 15px;
        .payment{
            color:#3f86c0;
            font-weight: 600;
        }
        .input-icon-group {
        position: relative;
        width: 100%;
        &.last-child {
            margin-bottom: 0;
        }
        i {
            position: absolute;
            top: 50%;       
            transform: translateY(-50%); 
            left: 15px;       
            font-size: 16px;    
            color: #666;     
            z-index: 1;  
        }
        .form-control {
            width: 100%;
            height: 45px;
            padding-left: 45px; 
            border-radius: 4px;
            border: 1px solid #ccc;
            outline: none;
            font-size: 14px;
            &::placeholder {
                color: #888;
                font-weight: 400;
            }

            &:focus {
                border-color: #45c3d2;
                background-color: #f7fcfd;
            }
        }
    }

        .form-control {
            width: 100%;
            height: 40px; 
            border-radius: 4px;
            border: 1px solid #ccc; 
            padding: 0 10px;
            outline: none;
            background-color: #fff;
            
            &:focus {
                border-color: #45c3d2;
                background-color: #f7fcfd;
            }
        }

        .gender-options {
            display: flex;
            align-items: center;
            height: 40px;
            
            label {
                margin-bottom: 0;
                cursor: pointer;
                font-weight: normal;
            }
            input {
                caret-color: auto;
                margin-right: 5px;
            }
        }
    }
}
    .booking-modal-footer {
            padding: 0 20px;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            button {
                padding: 10px 25px;
                border: none;
                border-radius: 4px;
                font-weight: 600;
                cursor: pointer;
            }

            .btn-booking-confirm {
                width: 40%; 
                margin: 0 auto;
                background-color: #ffc107;
                color:white;
                 font-size: 18px;
                &:hover { background-color: #e0a800; }
            }
    }
    }
    .more-info {
    width: 40%; 
    margin: 0 auto;
    background-color: #f6f6f6; 
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px; 
    .tag-price {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 10px 0; 
        &:nth-child(2) {
        border-bottom: 1px solid #ddd;
        }
        .left {
            font-size: 15px;
            color: #555;
        }
        .right {

            font-size: 16px;
            color: #333;
        }
    }
}
    .note-booking {
    width: 40%; 
    margin: 10px auto;
    
    .note-title{
        
        text-align: center;
        color: #585858;
        margin-bottom: 10px;
    }
    .note-table{
        .note{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 15px;
    }
        .note-desc {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.5; 
    }
    .note-list {
        font-weight: lighter;
        padding-left: 20px; 
        margin-bottom: 0;
        li {
            list-style-type: disc;
            margin-bottom: 5px;
            font-size: 14px;

            // &::marker { color: black; } 
        }
    }
        height:130px;
        padding: 10px;
        border-radius: 5px;
        background-color: #d4effc;
    }
    }
}