.manage-specialty-container {
    padding: 20px;
    caret-color: transparent;
    .ms-title {
        text-align: center;
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: #007bff;
    }

    .add-new-specialty {
        margin-left: 30px;
        margin-right: 30px;
        .form-group {
            margin-bottom: 20px;
            label {
                font-weight: 600;
                margin-bottom: 8px;
                .input{
                    caret-color: auto;
                }
            }
            input.form-control { 
            caret-color: black !important;
        }
        }
        .preview-img-container {
            caret-color: transparent;
            display: flex;
            .label-upload {

                background-color: #eee;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid #ccc;
                margin-right: 20px;
                width: fit-content;
                transition: all 0.3s;
                &:hover {
                    background-color: #ddd;
                }
                i { margin-left: 5px; }
            }
            .preview-image {
                height: 150px;
                width: 200px;
                border: 1px solid #ccc;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
        
        .editor-section {
            margin-bottom: 20px;
            label {
                font-weight: 600;
                margin-bottom: 10px;
                display: block;
            }
           .rc-md-editor {
                textarea {
                    caret-color: black !important;
                }
            }
        }
        .btn-save-specialty {
            background-color: #ffc107;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;

            transition: all 0.3s;

            &:hover {
                background-color: #e0a800;
            }
        }
    }
}