.manage-doctor-container{
    padding: 10px;
    caret-color: transparent;
    .manage-doctor-title{
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        margin: 15px 0px;
        text-transform: uppercase;
    }
    .more-info{
        display: flex;
        padding-bottom: 10px;
        gap : 10px;
        .content-left{
            width: 40%;
        }
        .content-right{
            width: 60%;
        }
    }
    .more-info-extra{
        padding-bottom: 15px;
        input{
            caret-color: auto;
        }
    .form-group{
        margin-bottom: 10px;
    }
    }

    .save-content-doctor{
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        background: orange;
        color: black;
        cursor: pointer;
        &:hover{
            background: darkorange;
        }
    }

    .create-content-doctor{
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        background: blue;
        color: white;
        cursor: pointer;

        &:hover{
            background: darkblue;
        }
    }
}