/* File: src/containers/Patient/Doctor/Breadcrumb.scss */

.breadcrumb-section-wrapper {
    width: 100%;
    background-color: transparent;
    padding: 0;
    caret-color: transparent;
}
.breadcrumb-content-container {
    width: 100%;
    padding-left: 375px;
    margin: 0;
    .breadcrumb-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        width: fit-content; 
        background-color: #fff; 
        padding: 10px 15px; 
        border-bottom-right-radius: 10px;
    }

    .custom-breadcrumb-item {
        color: #0071ba;
        margin-right: 8px;
        display: flex;
        align-items: center;
        font-size: 14px;
        background-color: transparent; 

        a {
            color: #45c3d2;
            text-decoration: none;
            cursor: pointer;
            font-weight: 500;
            &:hover {
                color: #2b8a96;
                text-decoration: none;
            }
        }

        &.active {
            color: #999;
            font-weight: 400;
            pointer-events: none;
        }

        &:not(:last-child)::after {
            content: "/";
            margin-left: 8px;
            color: #ccc;
        }
    }
}