.detail-doctor-container{   
    height: 500px;
    .intro-doctor{
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0px 120px;
        .content-left{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 20px;
            flex-shrink: 0;  
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }
        .content-right{
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .up{
                font-size: 28px;
                font-weight: 600;
                padding-top: 15px;
            }
            .down{
                padding-top: 10px;
                font-size: 15px;
                opacity: 0.7;
            }
            
        }
    }
    .schedule-doctor{
        margin: 0 100px;
        display: flex;
        .content-left{
            width: 60%;
        ;
            border-right: 1px solid red;
            padding-right: 20px;
        }
        .content-right{
            width: 30%;
            padding-left: 20px;
        }
    }
    .detail-info{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f3f3f3;
        padding: 10px 120px;
        h2{padding-bottom: 10px;}
        h3{padding-bottom: 10px;}
        p{
            line-height: 1.8;
            font-size: 17px;}
    }
}