.detail-doctor-container{   
    height: 500px;
    caret-color: transparent;
    .intro-doctor{
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0px 150px;
        .content-left{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 20px;
            flex-shrink: 0;  
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }
        .content-right{
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            .up{
                font-size: 28px;
                font-weight: 600;
                padding-top: 15px;
            }
            .down{
                white-space: pre-line; 
                padding-top: 10px;
                font-size: 15px;
                opacity: 0.7;
            }
            
        }
    }
    .schedule-doctor{
        display: flex;
        padding: 10px 100px;
        .content-left{
            width: 55%;
            border-right: 1px solid #ddd;
            padding-right: 20px;
            margin-left: 50px;
        }
        .content-right{
            width: 40%;
            padding-left: 20px;
        }
    }
    .detail-info{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        padding: 50px 160px;
        h2{
            font-size: 22px;
            font-weight: 600;
            padding-bottom: 10px;}
        h3{
            font-size: 15px;
            padding-bottom: 10px;}
        p{
            line-height: 1.8;
            font-size: 17px;}
    }
}