.top-doctor-list-container {
  background-color: #fff;
  caret-color: transparent;

  .top-doctor-list-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-align: left;
    text-transform: none;
  }

  .top-doctor-list-items {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;

    .top-doctor-item {
      display: flex;
      height: 200px;
      align-items: center;
      padding: 12px 0;
      border-bottom: 1px solid #cccccc;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: #fbfbfb;

        .top-doctor-item__name {
          color: #45c3d2;
        }
      }

      &.last {
        border-bottom: none;
      }

      &__icon {
        width: auto;
        height: 130px;
        background-color: #e8fafa;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 110px;
          height: 110px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
      }

      &__name {
        font-size: 17px;
        font-weight: 600;
        color: #333;
      }

      &__sub-title {
        font-size: 14px;
        color: #555;
        margin-top: 4px;
      }
    }
  }
}
