.home-header-container{
    width : 100%;
    height: 80px;
    .home-header-content{
        width           : 100%;
        height          : 100%;
        display         : flex;
        padding         : 0 100px;
        background-color: rgb(242 244 244);;
        .left-content{
            width      : 25%;
            display    : flex;
            align-items: center;
            .header-logo{
                background: url(../../assets/Logo.svg) center center no-repeat;
                width     : 50%;
                height    : 50%;
                cursor    : pointer;
            }
            i{
                font-size: 25px;
                cursor   : pointer;
                color    : gray;
        }
        }
        .center-content{
            width          : 50%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            .child-content{
                cursor     : pointer;
                font-size  : 13px;
                font-weight: 400;
            }
        }
        .right-content{
            width          : 25%;
            display        : flex;
            align-items    : center;
            justify-content: flex-end;

            .support{
                padding    : 50px;
                align-items: center;
                display    : flex;
                cursor     : pointer;
                    i{
                    font-size   : 15px;
                    cursor      : pointer;
                    margin-right: 5px;
                }
            }
            .language-vi{
                font-size   : 15px;
                cursor      : pointer;
                margin-right: 10px;
                opacity     : 0.1;

                &.active{
                    opacity: 1;
                    span{
                    color  : #00bcd4;
                    }
                }
                &:hover{
                    opacity: 0.6;
                }
            }
            .language-en{
                font-size   : 15px;
                cursor      : pointer;
                margin-right: 20px;
                opacity     : 0.1;

                &.active{
                    opacity: 1;
                    span{
                    color  : #f03309;
                    }
                }
                &:hover{
                    opacity: 0.6;
                }
            }
        }
            
    }
}
.home-header-banner{
    background-image: 
        linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),
        // linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(../../assets/header-background.jpg);
    height             : 485px;
    background-size    : cover;
    background-position: center;
    display            : flex;
    flex-direction     : column;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    .content-up{ 
        background-image: linear-gradient(rgba(0,0,0,0.25), rgba(225,225,225,0.1));
        height: 65%;
        .title1{
            color      : white;
            text-align : center;
            font-size  : 30px;
            text-shadow: 1px 1px 1px #100f0f;
            margin-top : 30px;
        }
            .title2{
            color        : white;
            text-align   : center;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 15px;
        }
        .search{
            display        : flex;
            justify-content: center;
            align-items    : center;
            margin         : 0 auto;
            padding        : 10px;
            width          : 450px;
            border-radius  : 25px;
            background     : #f8d603;
            i{
                font-size: 20px;
                color    : gray;
            }
            input{
                width     : 450px;
                background: transparent;
                border    : none;
                outline   : none;
            }
    }}
    .content-down{
        background-image: linear-gradient(rgba(225,225,225,0.1),rgba(225,225,225,0.9), rgb(250, 250, 250));
        height          : 35%;
        padding         : 0 10;
        display         : flex;
        align-items     : flex-end;
        justify-content : center;
        padding-bottom: 20px;
        .options{
            text-align     : center;
            display        : flex;
            gap            : 50px;
            justify-content: center ;
            .option-child{
            width: 125px;


            }
                i{
                    font-size: 20px;
                    color    : #00bcd4;

                }
                .icon-child{
                    border-radius: 50%;
                    background   : #f2f2f2;
                    width        : fit-content;
                    padding      : 10px;
                    height       : 40px;
                    margin       : 0 auto;
                    text-align   : center;
                    cursor       : pointer;
                    border       : solid 1px #434343;

                }
                .text-child{
                    margin-top : 1px;
                    font-weight: 400;
                    font-size  : 17px;
                    cursor     : pointer;
                    &:hover{
                        color: #00bcd4;
                    }
                }
        }
        
    }

}